.headers {
    padding: 0.5rem;
  }
  .menu-card {
    border: 1px solid black;
    width: 200px;
    padding: 0.5rem;
    margin: 1rem;
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  button {
    cursor: pointer;
  }
  span {
    font-weight: 600;
  }
  
  
  